<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea.CUDA" version="2.1.0.3243-alpha" targetFramework="net40" />
  <package id="Alea.CUDA.Fody" version="2.1.0.3243-alpha" targetFramework="net40" developmentDependency="true" />
  <package id="Alea.CUDA.IL" version="2.1.0.3243-alpha" targetFramework="net40" />
  <package id="Alea.CUDA.Unbound" version="2.1.0.3243-alpha" targetFramework="net40" />
  <package id="Alea.IL" version="2.1.0.3243-alpha" targetFramework="net40" />
  <package id="Fody" version="1.29.0-beta01" targetFramework="net40" developmentDependency="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
</packages>