content: none
source https://www.nuget.org/api/v2
source http://nuget.aleacubase.com/nuget
source http://alpha.aleacubase.com/nuget

nuget Alea.CUDA.Fody 2.1.0.3245-alpha
nuget Alea.CUDA.Unbound 2.1.0.3245-alpha
nuget FAKE
nuget NUnit
nuget NUnit.Runners